*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

/*COMMON*/
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

/*SECTION*/
.options{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.option{
    font-size: 0.8rem;
    background-color: grey;
    padding: 0.2rem;
    border-radius: 5px;
    margin-right: 8px;
}

/*MAIN*/
.container-cards{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards{
    width: calc(94% / 7);
    margin-bottom: 8px;
}

.profile img{
    display: block;
}

.profile{
    position: relative;
}

.name{
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 3px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 0.8rem;
    color: white;
    background-color: rgba(126, 126, 126, 0.5);
}

/*FOOTER*/
.actions{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: hsl(0deg 0% 13.33%);
    display: flex;
    color: white;
}

.main-actions{
    width: 20%;
    display: flex;
}

.more-actions{
    width: 60%;
    display: flex;
    justify-content: center;
}

.close{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action{
    padding-top: .6rem;
    padding-left: .6rem;
    padding-right: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    font-size: 1.2rem;
   
}

.icon-name{
    font-size: .8rem;
    padding-top: 0.2rem;
}

.close-call{
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
    padding: 0.3rem 0.4rem;
}

.icon-alone{
    font-size: 0.8rem;
    position: relative;
    top: 15px;
}

